In [87]:
import pandas as pd
import pickle
import numpy as np

In [88]:

df = pickle.load(open('dataset_2new.pkl','rb'))

In [89]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,male,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,male,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,male,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,male,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,male,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [90]:
print(df.dtypes)

match_id              int64
gender               object
batting_team         object
bowling_team         object
ball                float64
runs                  int64
player_dismissed     object
city                 object
venue                object
dtype: object

In [91]:


df.isnull().sum()

match_id                0
gender                  0
batting_team            0
bowling_team            0
ball                    0
runs                    0
player_dismissed        0
city                14472
venue                   0
dtype: int64

In [92]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Sylhet Stadium                             1958
Melbourne Cricket Ground                   1933
Galle International Stadium                1419
Sharjah Cricket Stadium                    1108
Sydney Cricket Ground                       871
Adelaide Oval                               621
Guanggong International Cricket Stadium     483
Harare Sports Club                          372
Colombo Cricket Club Ground                 235
Sylhet International Cricket Stadium        128
Arundel Castle Cricket Club Ground          122
Carrara Oval                                 64
Name: count, dtype: int64

In [93]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [94]:
print(df.dtypes)

match_id              int64
gender               object
batting_team         object
bowling_team         object
ball                float64
runs                  int64
player_dismissed     object
city                 object
venue                object
dtype: object

In [95]:
df['city'] = cities

In [96]:
df.isnull().sum()

match_id            0
gender              0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [97]:
df.drop(columns=['venue'],inplace=True)

In [98]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo

In [99]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [100]:
df = df[df['city'].isin(eligible_cities)]

In [101]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo

In [102]:
df['runs'] = pd.to_numeric(df['runs'], errors='coerce')  # Convert non-numeric values to NaN
df.dropna(subset=['runs'], inplace=True)  # Remove rows with NaN values
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\856752287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'], errors='coerce')  # Convert non-numeric values to NaN
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\856752287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['runs'], inplace=True)  # Remove rows with NaN values
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\856752287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [103]:
df['gender'].value_counts()

gender
male      90959
female    56322
Name: count, dtype: int64

In [104]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\3575727727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\3575727727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5
...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7

In [105]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\572800509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

In [106]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121

In [107]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\2304996896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\2304996896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117,3
486721,3997,male,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118,2
486722,3997,male,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5,119,1
486723,3997,male,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120,0
486724,3997,male,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121,0

In [108]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
#df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
#df['wickets_left'] = 10 - df['player_dismissed']

df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left'] = (10 - df['player_dismissed']).clip(lower=0)  # Ensures values stay within [0, 10]


#df['player_dismissed'] = pd.to_numeric(df['player_dismissed'], errors='coerce')  # Convert non-numeric values to NaN
#df.dropna(subset=['player_dismissed'], inplace=True)  # Remove rows with NaN values
#df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
#df['wickets_left'] = 10 - df['player_dismissed']
print(df.dtypes)

match_id              int64
gender               object
batting_team         object
bowling_team         object
ball                float64
runs                  int64
player_dismissed      int64
city                 object
current_score         int64
over                 object
ball_no              object
balls_bowled          int64
balls_left            int64
wickets_left          int64
dtype: object

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\3355376384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\3355376384.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\3355376384.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\3355376384.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = (10 - df['player_dismissed']).clip(lower=0)  # Ensures values stay within [0, 10]

In [109]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2
486721,3997,male,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2
486722,3997,male,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1
486723,3997,male,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1
486724,3997,male,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1

In [110]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\914577034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [111]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256
486721,3997,male,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932
486722,3997,male,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521
486723,3997,male,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000
486724,3997,male,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107

In [112]:
#groups = df.groupby('match_id')

#match_ids = df['match_id'].unique()
#last_five = []
#for id in match_ids:
  #  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())
#df['last_five']=last_five
print(df['runs'].unique())  # Identify unexpected values
df = df[pd.to_numeric(df['runs'], errors='coerce').notna()]
df['runs'] = pd.to_numeric(df['runs'], errors='coerce')  # Converts invalid values to NaN
df.dropna(subset=['runs'], inplace=True)  # Remove rows with NaN value
groups = df.groupby('match_id')
match_ids = df['match_id'].unique()
last_five = []

for id in match_ids:
    last_five.extend(groups.get_group(id)['runs'].rolling(window=30).sum().values.tolist())

df['last_five'] = last_five
print(df.dtypes)

[0 1 2 3 4 6 5 7]
match_id              int64
gender               object
batting_team         object
bowling_team         object
ball                float64
runs                  int64
player_dismissed      int64
city                 object
current_score         int64
over                 object
ball_no              object
balls_bowled          int64
balls_left            int64
wickets_left          int64
crr                 float64
last_five           float64
dtype: object

In [113]:
df

,match_id,gender,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000,NaN
1,2,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000,NaN
2,2,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000,NaN
3,2,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000,NaN
4,2,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486720,3997,male,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256,32.0
486721,3997,male,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932,32.0
486722,3997,male,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521,32.0
486723,3997,male,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000,33.0
486724,3997,male,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107,32.0

In [114]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [115]:
final_df

,match_id,runs_x,gender,batting_team,bowling_team,ball,runs_y,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
0,2,168,male,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000,NaN
1,2,168,male,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000,NaN
2,2,168,male,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000,NaN
3,2,168,male,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000,NaN
4,2,168,male,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147276,3997,128,male,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256,32.0
147277,3997,128,male,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932,32.0
147278,3997,128,male,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521,32.0
147279,3997,128,male,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000,33.0
147280,3997,128,male,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107,32.0

In [116]:
final_df=final_df[['gender','batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [117]:
final_df

,gender,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
0,male,Australia,Sri Lanka,Melbourne,0,119,10,0.000000,NaN,168
1,male,Australia,Sri Lanka,Melbourne,0,118,10,0.000000,NaN,168
2,male,Australia,Sri Lanka,Melbourne,1,117,10,2.000000,NaN,168
3,male,Australia,Sri Lanka,Melbourne,3,116,10,4.500000,NaN,168
4,male,Australia,Sri Lanka,Melbourne,3,115,10,3.600000,NaN,168
...,...,...,...,...,...,...,...,...,...,...
147276,male,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
147277,male,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
147278,male,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
147279,male,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
147280,male,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [118]:
final_df.dropna(inplace=True)

C:\Users\ankus\AppData\Local\Temp\ipykernel_3280\1942946218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [119]:
final_df

,gender,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
29,male,Australia,Sri Lanka,Melbourne,43,90,10,8.600000,43.0,168
30,male,Australia,Sri Lanka,Melbourne,44,89,10,8.516129,44.0,168
31,male,Australia,Sri Lanka,Melbourne,45,88,10,8.437500,45.0,168
32,male,Australia,Sri Lanka,Melbourne,45,87,10,8.181818,44.0,168
33,male,Australia,Sri Lanka,Melbourne,45,86,10,7.941176,42.0,168
...,...,...,...,...,...,...,...,...,...,...
147276,male,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
147277,male,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
147278,male,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
147279,male,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
147280,male,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [83]:
final_df.isnull().sum()

gender           0
batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [123]:
final_df.rename(columns={'runs_x' : 'total_runs'}, inplace=True)

In [85]:
final_df

,gender,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,total_runs
29,male,Australia,Sri Lanka,Melbourne,43,90,0,8.600000,43.0,168
30,male,Australia,Sri Lanka,Melbourne,44,89,0,8.516129,44.0,168
31,male,Australia,Sri Lanka,Melbourne,45,88,0,8.437500,45.0,168
32,male,Australia,Sri Lanka,Melbourne,45,87,0,8.181818,44.0,168
33,male,Australia,Sri Lanka,Melbourne,45,86,0,7.941176,42.0,168
...,...,...,...,...,...,...,...,...,...,...
147276,male,Sri Lanka,Australia,Colombo,125,3,0,6.410256,32.0,128
147277,male,Sri Lanka,Australia,Colombo,125,2,0,6.355932,32.0,128
147278,male,Sri Lanka,Australia,Colombo,125,1,0,6.302521,32.0,128
147279,male,Sri Lanka,Australia,Colombo,127,0,0,6.350000,33.0,128
147280,male,Sri Lanka,Australia,Colombo,128,0,0,6.347107,32.0,128

In [124]:
final_df = final_df.sample(final_df.shape[0])

In [125]:
final_df

,gender,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,total_runs
110289,male,Pakistan,New Zealand,Auckland,90,39,3,6.666667,23.0,143
81319,male,West Indies,South Africa,North Sound,118,13,2,6.616822,29.0,135
111240,male,India,West Indies,Trinidad,49,74,7,6.391304,36.0,159
43761,female,England,Australia,Adelaide,119,31,9,8.022472,37.0,169
142723,male,Australia,Pakistan,Chandigarh,118,40,7,8.850000,51.0,193
...,...,...,...,...,...,...,...,...,...,...
15497,female,Sri Lanka,South Africa,St Lucia,36,65,7,3.927273,24.0,99
109589,male,Australia,England,Melbourne,120,16,5,6.923077,34.0,147
136993,female,Sri Lanka,West Indies,Colombo,84,38,7,6.146341,19.0,124
109934,male,New Zealand,Sri Lanka,Lauderhill,66,39,4,4.888889,28.0,81
68509,female,India,Australia,Navi Mumbai,132,18,5,7.764706,51.0,172

In [127]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.5)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.0-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.1 MB 7.4 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/11.1 MB 11.1 MB/s eta 0:00:01
   -------------------- ------------------- 5.8/11.1 MB 10.0 MB/s eta 0:00:01
   ----------------------- ---------------- 6.6/11.1 MB 8.6 MB/s eta 0:00:01
   --------------------------- ------------ 7.6/11.1 MB 8.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.1 MB 6.8 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/11.1 MB 6.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.1 MB 5.9 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.1 MB 5.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.0/11.1 MB 5.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.1 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 4.4 MB/s eta 0:00:00
Downloading joblib-1.5.0-py3-none-any.whl (307 kB)
Downloading scipy-1.15.2-cp313-cp313-win_amd64.whl (41.0 MB)
   ---------------------------------------- 0.0/41.0 MB ? eta -:--:--
    --------------------------------------- 0.5/41.0 MB 2.6 MB/s eta 0:00:16
   - -------------------------------------- 1.0/41.0 MB 2.7 MB/s eta 0:00:15
   - -------------------------------------- 1.6/41.0 MB 2.7 MB/s eta 0:00:15
   -- ------------------------------------- 2.1/41.0 MB 2.8 MB/s eta 0:00:14
   -- ------------------------------------- 2.9/41.0 MB 2.9 MB/s eta 0:00:14
   --- ------------------------------------ 3.4/41.0 MB 2.9 MB/s eta 0:00:13
   ---- ----------------------------------- 4.2/41.0 MB 3.0 MB/s eta 0:00:13
   ---- ----------------------------------- 5.0/41.0 MB 3.1 MB/s eta 0:00:12
   ----- ---------------------------------- 5.8/41.0 MB 3.1 MB/s eta 0:00:12
   ------ --------------------------------- 6.3/41.0 MB 3.1 MB/s eta 0:00:12
   ------ --------------------------------- 7.1/41.0 MB 3.2 MB/s eta 0:00:11
   ------- -------------------------------- 7.9/41.0 MB 3.2 MB/s eta 0:00:11
   -------- ------------------------------- 8.9/41.0 MB 3.3 MB/s eta 0:00:10
   --------- ------------------------------ 9.7/41.0 MB 3.4 MB/s eta 0:00:10
   ---------- ----------------------------- 10.7/41.0 MB 3.4 MB/s eta 0:00:09
   ----------- ---------------------------- 11.5/41.0 MB 3.5 MB/s eta 0:00:09
   ------------ --------------------------- 12.6/41.0 MB 3.6 MB/s eta 0:00:08
   ------------- -------------------------- 13.6/41.0 MB 3.6 MB/s eta 0:00:08
   -------------- ------------------------- 14.7/41.0 MB 3.7 MB/s eta 0:00:08
   --------------- ------------------------ 15.5/41.0 MB 3.7 MB/s eta 0:00:07
   ---------------- ----------------------- 16.8/41.0 MB 3.8 MB/s eta 0:00:07
   ---------------- ----------------------- 17.3/41.0 MB 3.8 MB/s eta 0:00:07
   ----------------- ---------------------- 17.6/41.0 MB 3.7 MB/s eta 0:00:07
   ----------------- ---------------------- 17.6/41.0 MB 3.7 MB/s eta 0:00:07
   ----------------- ---------------------- 17.8/41.0 MB 3.5 MB/s eta 0:00:07
   ----------------- ---------------------- 17.8/41.0 MB 3.5 MB/s eta 0:00:07
   ----------------- ---------------------- 17.8/41.0 MB 3.5 MB/s eta 0:00:07
   ----------------- ---------------------- 18.1/41.0 MB 3.2 MB/s eta 0:00:08
   ----------------- ---------------------- 18.1/41.0 MB 3.2 MB/s eta 0:00:08
   ----------------- ---------------------- 18.4/41.0 MB 2.9 MB/s eta 0:00:08
   ----------------- ---------------------- 18.4/41.0 MB 2.9 MB/s eta 0:00:08
   ------------------ --------------------- 18.6/41.0 MB 2.8 MB/s eta 0:00:08
   ------------------ --------------------- 18.9/41.0 MB 2.7 MB/s eta 0:00:09
   ------------------ --------------------- 18.9/41.0 MB 2.7 MB/s eta 0:00:09
   ------------------ --------------------- 19.1/41.0 MB 2.7 MB/s eta 0:00:09
   ------------------ --------------------- 19.4/41.0 MB 2.6 MB/s eta 0:00:09
   ------------------- -------------------- 19.9/41.0 MB 2.6 MB/s eta 0:00:09
   ------------------- -------------------- 20.2/41.0 MB 2.5 MB/s eta 0:00:09
   ------------------- -------------------- 20.4/41.0 MB 2.5 MB/s eta 0:00:09
   -------------------- ------------------- 21.0/41.0 MB 2.5 MB/s eta 0:00:09
   -------------------- ------------------- 21.5/41.0 MB 2.5 MB/s eta 0:00:08
   --------------------- ------------------ 21.8/41.0 MB 2.5 MB/s eta 0:00:08
   --------------------- ------------------ 22.3/41.0 MB 2.5 MB/s eta 0:00:08
   ---------------------- ----------------- 22.8/41.0 MB 2.5 MB/s eta 0:00:08
   ---------------------- ----------------- 23.3/41.0 MB 2.5 MB/s eta 0:00:08
   ----------------------- ---------------- 23.9/41.0 MB 2.5 MB/s eta 0:00:07
   ------------------------ --------------- 24.6/41.0 MB 2.5 MB/s eta 0:00:07
   ------------------------ --------------- 25.2/41.0 MB 2.5 MB/s eta 0:00:07
   ------------------------- -------------- 25.7/41.0 MB 2.5 MB/s eta 0:00:07
   ------------------------- -------------- 26.5/41.0 MB 2.5 MB/s eta 0:00:06
   ------------------------- -------------- 26.5/41.0 MB 2.5 MB/s eta 0:00:06
   -------------------------- ------------- 27.0/41.0 MB 2.5 MB/s eta 0:00:06
   -------------------------- ------------- 27.5/41.0 MB 2.5 MB/s eta 0:00:06
   --------------------------- ------------ 28.0/41.0 MB 2.5 MB/s eta 0:00:06
   --------------------------- ------------ 28.6/41.0 MB 2.5 MB/s eta 0:00:06
   ---------------------------- ----------- 29.4/41.0 MB 2.5 MB/s eta 0:00:05
   ----------------------------- ---------- 29.9/41.0 MB 2.5 MB/s eta 0:00:05
   ----------------------------- ---------- 30.4/41.0 MB 2.5 MB/s eta 0:00:05
   ------------------------------ --------- 31.2/41.0 MB 2.5 MB/s eta 0:00:04
   ------------------------------- -------- 32.0/41.0 MB 2.5 MB/s eta 0:00:04
   ------------------------------- -------- 32.5/41.0 MB 2.5 MB/s eta 0:00:04
   -------------------------------- ------- 33.0/41.0 MB 2.5 MB/s eta 0:00:04
   --------------------------------- ------ 33.8/41.0 MB 2.5 MB/s eta 0:00:03
   --------------------------------- ------ 34.6/41.0 MB 2.6 MB/s eta 0:00:03
   ---------------------------------- ----- 35.4/41.0 MB 2.6 MB/s eta 0:00:03
   ----------------------------------- ---- 36.2/41.0 MB 2.6 MB/s eta 0:00:02
   ------------------------------------ --- 37.2/41.0 MB 2.6 MB/s eta 0:00:02
   ------------------------------------- -- 38.0/41.0 MB 2.6 MB/s eta 0:00:02
   -------------------------------------- - 39.1/41.0 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 39.8/41.0 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 41.0/41.0 MB 2.7 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.0 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [128]:
import sklearn
print(sklearn.__version__)  # Check installed version

1.6.1

In [132]:
X = final_df.drop(columns=['total_runs'])
y = final_df['total_runs']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [133]:
X_train

,gender,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
18649,female,West Indies,South Africa,Trinidad,113,15,8,6.457143,36.0
73310,male,West Indies,India,Lauderhill,65,66,6,7.222222,29.0
118318,female,Australia,England,Colombo,121,21,7,7.333333,46.0
5712,male,England,Australia,Birmingham,98,65,9,10.690909,42.0
93928,male,South Africa,New Zealand,Johannesburg,71,75,10,9.466667,45.0
...,...,...,...,...,...,...,...,...,...
7654,female,Pakistan,New Zealand,Sharjah,25,90,9,5.000000,25.0
142487,male,New Zealand,Pakistan,Chandigarh,127,31,7,8.561798,47.0
7841,female,South Africa,India,Potchefstroom,112,27,7,7.225806,29.0
122809,male,West Indies,Bangladesh,Mirpur,101,41,7,7.670886,40.0
26025,male,Pakistan,Australia,Perth,105,6,2,5.526316,18.0

In [131]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from xgboost) (2.2.5)
Requirement already satisfied: scipy in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from xgboost) (1.15.2)
Downloading xgboost-3.0.0-py3-none-win_amd64.whl (150.0 MB)
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 0.3/150.0 MB ? eta -:--:--
    --------------------------------------- 2.1/150.0 MB 8.7 MB/s eta 0:00:17
    --------------------------------------- 3.7/150.0 MB 8.9 MB/s eta 0:00:17
   - -------------------------------------- 6.0/150.0 MB 8.9 MB/s eta 0:00:17
   - -------------------------------------- 6.6/150.0 MB 7.9 MB/s eta 0:00:19
   -- ------------------------------------- 7.9/150.0 MB 7.7 MB/s eta 0:00:19
   -- ------------------------------------- 8.9/150.0 MB 7.1 MB/s eta 0:00:20
   -- ------------------------------------- 9.4/150.0 MB 6.4 MB/s eta 0:00:22
   -- ------------------------------------- 10.0/150.0 MB 5.8 MB/s eta 0:00:25
   -- ------------------------------------- 10.2/150.0 MB 5.6 MB/s eta 0:00:26
   -- ------------------------------------- 10.7/150.0 MB 5.2 MB/s eta 0:00:27
   --- ------------------------------------ 11.3/150.0 MB 5.0 MB/s eta 0:00:28
   --- ------------------------------------ 11.5/150.0 MB 4.7 MB/s eta 0:00:30
   --- ------------------------------------ 11.8/150.0 MB 4.5 MB/s eta 0:00:31
   --- ------------------------------------ 12.1/150.0 MB 4.2 MB/s eta 0:00:33
   --- ------------------------------------ 12.6/150.0 MB 3.9 MB/s eta 0:00:36
   --- ------------------------------------ 12.8/150.0 MB 3.8 MB/s eta 0:00:37
   --- ------------------------------------ 13.1/150.0 MB 3.7 MB/s eta 0:00:37
   --- ------------------------------------ 13.6/150.0 MB 3.6 MB/s eta 0:00:39
   --- ------------------------------------ 13.9/150.0 MB 3.5 MB/s eta 0:00:39
   --- ------------------------------------ 14.4/150.0 MB 3.4 MB/s eta 0:00:40
   --- ------------------------------------ 14.7/150.0 MB 3.4 MB/s eta 0:00:41
   ---- ----------------------------------- 15.2/150.0 MB 3.3 MB/s eta 0:00:41
   ---- ----------------------------------- 15.7/150.0 MB 3.2 MB/s eta 0:00:42
   ---- ----------------------------------- 16.3/150.0 MB 3.2 MB/s eta 0:00:42
   ---- ----------------------------------- 16.8/150.0 MB 3.2 MB/s eta 0:00:42
   ---- ----------------------------------- 17.3/150.0 MB 3.2 MB/s eta 0:00:42
   ---- ----------------------------------- 18.1/150.0 MB 3.1 MB/s eta 0:00:42
   ---- ----------------------------------- 18.6/150.0 MB 3.1 MB/s eta 0:00:42
   ----- ---------------------------------- 19.1/150.0 MB 3.1 MB/s eta 0:00:42
   ----- ---------------------------------- 19.7/150.0 MB 3.1 MB/s eta 0:00:42
   ----- ---------------------------------- 20.4/150.0 MB 3.1 MB/s eta 0:00:42
   ----- ---------------------------------- 21.0/150.0 MB 3.1 MB/s eta 0:00:42
   ----- ---------------------------------- 21.8/150.0 MB 3.1 MB/s eta 0:00:42
   ----- ---------------------------------- 22.3/150.0 MB 3.1 MB/s eta 0:00:42
   ------ --------------------------------- 23.1/150.0 MB 3.1 MB/s eta 0:00:41
   ------ --------------------------------- 23.9/150.0 MB 3.1 MB/s eta 0:00:41
   ------ --------------------------------- 24.6/150.0 MB 3.1 MB/s eta 0:00:41
   ------ --------------------------------- 25.4/150.0 MB 3.2 MB/s eta 0:00:40
   ------ --------------------------------- 26.2/150.0 MB 3.2 MB/s eta 0:00:40
   ------- -------------------------------- 27.0/150.0 MB 3.2 MB/s eta 0:00:39
   ------- -------------------------------- 27.8/150.0 MB 3.2 MB/s eta 0:00:39
   ------- -------------------------------- 28.8/150.0 MB 3.2 MB/s eta 0:00:38
   ------- -------------------------------- 29.6/150.0 MB 3.3 MB/s eta 0:00:37
   -------- ------------------------------- 30.7/150.0 MB 3.3 MB/s eta 0:00:37
   -------- ------------------------------- 31.7/150.0 MB 3.3 MB/s eta 0:00:36
   -------- ------------------------------- 32.5/150.0 MB 3.3 MB/s eta 0:00:36
   -------- ------------------------------- 33.6/150.0 MB 3.4 MB/s eta 0:00:35
   --------- ------------------------------ 34.6/150.0 MB 3.4 MB/s eta 0:00:34
   --------- ------------------------------ 35.7/150.0 MB 3.4 MB/s eta 0:00:34
   --------- ------------------------------ 36.7/150.0 MB 3.5 MB/s eta 0:00:33
   ---------- ----------------------------- 37.7/150.0 MB 3.5 MB/s eta 0:00:33
   ---------- ----------------------------- 38.8/150.0 MB 3.5 MB/s eta 0:00:32
   ---------- ----------------------------- 39.8/150.0 MB 3.6 MB/s eta 0:00:31
   ---------- ----------------------------- 41.2/150.0 MB 3.6 MB/s eta 0:00:31
   ----------- ---------------------------- 42.2/150.0 MB 3.6 MB/s eta 0:00:30
   ----------- ---------------------------- 43.3/150.0 MB 3.7 MB/s eta 0:00:30
   ----------- ---------------------------- 44.6/150.0 MB 3.7 MB/s eta 0:00:29
   ------------ --------------------------- 45.9/150.0 MB 3.7 MB/s eta 0:00:28
   ------------ --------------------------- 47.2/150.0 MB 3.8 MB/s eta 0:00:28
   ------------- -------------------------- 48.8/150.0 MB 3.8 MB/s eta 0:00:27
   ------------- -------------------------- 50.1/150.0 MB 3.9 MB/s eta 0:00:26
   ------------- -------------------------- 50.9/150.0 MB 3.9 MB/s eta 0:00:26
   ------------- -------------------------- 51.4/150.0 MB 3.9 MB/s eta 0:00:26
   ------------- -------------------------- 52.2/150.0 MB 3.9 MB/s eta 0:00:26
   -------------- ------------------------- 52.7/150.0 MB 3.8 MB/s eta 0:00:26
   -------------- ------------------------- 53.5/150.0 MB 3.8 MB/s eta 0:00:26
   -------------- ------------------------- 54.0/150.0 MB 3.8 MB/s eta 0:00:26
   -------------- ------------------------- 54.8/150.0 MB 3.8 MB/s eta 0:00:25
   -------------- ------------------------- 55.3/150.0 MB 3.8 MB/s eta 0:00:25
   -------------- ------------------------- 56.1/150.0 MB 3.8 MB/s eta 0:00:25
   --------------- ------------------------ 56.9/150.0 MB 3.8 MB/s eta 0:00:25
   --------------- ------------------------ 57.7/150.0 MB 3.8 MB/s eta 0:00:25
   --------------- ------------------------ 58.5/150.0 MB 3.8 MB/s eta 0:00:25
   --------------- ------------------------ 59.2/150.0 MB 3.8 MB/s eta 0:00:24
   ---------------- ----------------------- 60.0/150.0 MB 3.8 MB/s eta 0:00:24
   ---------------- ----------------------- 61.1/150.0 MB 3.8 MB/s eta 0:00:24
   ---------------- ----------------------- 61.9/150.0 MB 3.8 MB/s eta 0:00:24
   ---------------- ----------------------- 62.7/150.0 MB 3.8 MB/s eta 0:00:23
   ---------------- ----------------------- 63.7/150.0 MB 3.8 MB/s eta 0:00:23
   ----------------- ---------------------- 64.5/150.0 MB 3.8 MB/s eta 0:00:23
   ----------------- ---------------------- 65.5/150.0 MB 3.8 MB/s eta 0:00:23
   ----------------- ---------------------- 66.6/150.0 MB 3.8 MB/s eta 0:00:22
   ------------------ --------------------- 67.6/150.0 MB 3.9 MB/s eta 0:00:22
   ------------------ --------------------- 68.4/150.0 MB 3.9 MB/s eta 0:00:22
   ------------------ --------------------- 69.5/150.0 MB 3.9 MB/s eta 0:00:21
   ------------------ --------------------- 70.5/150.0 MB 3.9 MB/s eta 0:00:21
   ------------------- -------------------- 71.6/150.0 MB 3.9 MB/s eta 0:00:21
   ------------------- -------------------- 72.6/150.0 MB 3.9 MB/s eta 0:00:20
   ------------------- -------------------- 73.7/150.0 MB 3.9 MB/s eta 0:00:20
   ------------------- -------------------- 74.7/150.0 MB 3.9 MB/s eta 0:00:20
   -------------------- ------------------- 76.0/150.0 MB 4.0 MB/s eta 0:00:19
   -------------------- ------------------- 77.1/150.0 MB 4.0 MB/s eta 0:00:19
   -------------------- ------------------- 78.4/150.0 MB 4.0 MB/s eta 0:00:18
   --------------------- ------------------ 79.4/150.0 MB 4.0 MB/s eta 0:00:18
   --------------------- ------------------ 80.7/150.0 MB 4.0 MB/s eta 0:00:18
   --------------------- ------------------ 82.1/150.0 MB 4.0 MB/s eta 0:00:17
   ---------------------- ----------------- 83.1/150.0 MB 4.1 MB/s eta 0:00:17
   ---------------------- ----------------- 84.4/150.0 MB 4.1 MB/s eta 0:00:17
   ---------------------- ----------------- 85.5/150.0 MB 4.1 MB/s eta 0:00:16
   ----------------------- ---------------- 86.5/150.0 MB 4.1 MB/s eta 0:00:16
   ----------------------- ---------------- 87.3/150.0 MB 4.1 MB/s eta 0:00:16
   ----------------------- ---------------- 88.1/150.0 MB 4.1 MB/s eta 0:00:16
   ----------------------- ---------------- 88.9/150.0 MB 4.1 MB/s eta 0:00:15
   ----------------------- ---------------- 89.7/150.0 MB 4.1 MB/s eta 0:00:15
   ------------------------ --------------- 90.4/150.0 MB 4.1 MB/s eta 0:00:15
   ------------------------ --------------- 91.2/150.0 MB 4.1 MB/s eta 0:00:15
   ------------------------ --------------- 92.0/150.0 MB 4.1 MB/s eta 0:00:15
   ------------------------ --------------- 93.1/150.0 MB 4.1 MB/s eta 0:00:14
   ------------------------- -------------- 93.8/150.0 MB 4.1 MB/s eta 0:00:14
   ------------------------- -------------- 94.6/150.0 MB 4.1 MB/s eta 0:00:14
   ------------------------- -------------- 95.7/150.0 MB 4.1 MB/s eta 0:00:14
   ------------------------- -------------- 96.5/150.0 MB 4.1 MB/s eta 0:00:14
   -------------------------- ------------- 97.5/150.0 MB 4.1 MB/s eta 0:00:13
   -------------------------- ------------- 98.6/150.0 MB 4.1 MB/s eta 0:00:13
   -------------------------- ------------- 99.6/150.0 MB 4.1 MB/s eta 0:00:13
   -------------------------- ------------- 100.7/150.0 MB 4.1 MB/s eta 0:00:12
   --------------------------- ------------ 101.4/150.0 MB 4.1 MB/s eta 0:00:12
   --------------------------- ------------ 102.5/150.0 MB 4.1 MB/s eta 0:00:12
   --------------------------- ------------ 103.3/150.0 MB 4.1 MB/s eta 0:00:12
   --------------------------- ------------ 104.1/150.0 MB 4.1 MB/s eta 0:00:12
   --------------------------- ------------ 104.9/150.0 MB 4.1 MB/s eta 0:00:11
   ---------------------------- ----------- 105.9/150.0 MB 4.1 MB/s eta 0:00:11
   ---------------------------- ----------- 106.7/150.0 MB 4.1 MB/s eta 0:00:11
   ---------------------------- ----------- 107.7/150.0 MB 4.1 MB/s eta 0:00:11
   ---------------------------- ----------- 108.5/150.0 MB 4.1 MB/s eta 0:00:11
   ----------------------------- ---------- 109.6/150.0 MB 4.1 MB/s eta 0:00:10
   ----------------------------- ---------- 110.6/150.0 MB 4.1 MB/s eta 0:00:10
   ----------------------------- ---------- 111.4/150.0 MB 4.1 MB/s eta 0:00:10
   ----------------------------- ---------- 112.5/150.0 MB 4.1 MB/s eta 0:00:10
   ------------------------------ --------- 113.5/150.0 MB 4.1 MB/s eta 0:00:09
   ------------------------------ --------- 114.6/150.0 MB 4.2 MB/s eta 0:00:09
   ------------------------------ --------- 115.6/150.0 MB 4.2 MB/s eta 0:00:09
   ------------------------------- -------- 116.7/150.0 MB 4.2 MB/s eta 0:00:08
   ------------------------------- -------- 117.7/150.0 MB 4.2 MB/s eta 0:00:08
   ------------------------------- -------- 118.8/150.0 MB 4.2 MB/s eta 0:00:08
   ------------------------------- -------- 119.8/150.0 MB 4.2 MB/s eta 0:00:08
   -------------------------------- ------- 121.1/150.0 MB 4.2 MB/s eta 0:00:07
   -------------------------------- ------- 122.2/150.0 MB 4.2 MB/s eta 0:00:07
   -------------------------------- ------- 123.5/150.0 MB 4.2 MB/s eta 0:00:07
   --------------------------------- ------ 124.5/150.0 MB 4.2 MB/s eta 0:00:07
   --------------------------------- ------ 125.8/150.0 MB 4.2 MB/s eta 0:00:06
   --------------------------------- ------ 127.1/150.0 MB 4.2 MB/s eta 0:00:06
   ---------------------------------- ----- 128.2/150.0 MB 4.3 MB/s eta 0:00:06
   ---------------------------------- ----- 129.2/150.0 MB 4.2 MB/s eta 0:00:05
   ---------------------------------- ----- 130.0/150.0 MB 4.2 MB/s eta 0:00:05
   ---------------------------------- ----- 131.1/150.0 MB 4.2 MB/s eta 0:00:05
   ----------------------------------- ---- 132.1/150.0 MB 4.2 MB/s eta 0:00:05
   ----------------------------------- ---- 133.2/150.0 MB 4.2 MB/s eta 0:00:05
   ----------------------------------- ---- 134.2/150.0 MB 4.2 MB/s eta 0:00:04
   ------------------------------------ --- 135.3/150.0 MB 4.2 MB/s eta 0:00:04
   ------------------------------------ --- 136.6/150.0 MB 4.2 MB/s eta 0:00:04
   ------------------------------------ --- 137.6/150.0 MB 4.2 MB/s eta 0:00:03
   ------------------------------------ --- 138.4/150.0 MB 4.2 MB/s eta 0:00:03
   ------------------------------------- -- 139.2/150.0 MB 4.3 MB/s eta 0:00:03
   ------------------------------------- -- 140.0/150.0 MB 4.3 MB/s eta 0:00:03
   ------------------------------------- -- 140.8/150.0 MB 4.3 MB/s eta 0:00:03
   ------------------------------------- -- 141.8/150.0 MB 4.3 MB/s eta 0:00:02
   -------------------------------------- - 142.9/150.0 MB 4.3 MB/s eta 0:00:02
   -------------------------------------- - 143.7/150.0 MB 4.4 MB/s eta 0:00:02
   -------------------------------------- - 144.7/150.0 MB 4.4 MB/s eta 0:00:02
   -------------------------------------- - 145.5/150.0 MB 4.4 MB/s eta 0:00:02
   ---------------------------------------  146.5/150.0 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  147.6/150.0 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  148.6/150.0 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  149.7/150.0 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  149.9/150.0 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 150.0/150.0 MB 4.5 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [136]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city', 'gender'])
], remainder='passthrough')

In [138]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor

In [139]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [143]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

In [144]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9913808703422546
1.6962828636169434

In [146]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [147]:
import xgboost
xgboost.__version__

'3.0.0'

In [148]:
pip install streamlit

Collecting streamlit
  Downloading streamlit-1.45.0-py3-none-any.whl.metadata (8.9 kB)
Collecting altair<6,>=4.0 (from streamlit)
  Downloading altair-5.5.0-py3-none-any.whl.metadata (11 kB)
Collecting blinker<2,>=1.5.0 (from streamlit)
  Downloading blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Collecting cachetools<6,>=4.0 (from streamlit)
  Downloading cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Collecting click<9,>=7.0 (from streamlit)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.2.5)
Collecting packaging<25,>=20 (from streamlit)
  Downloading packaging-24.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.2.3)
Collecting pillow<12,>=7.1.0 (from streamlit)
  Downloading pillow-11.2.1-cp313-cp313-win_amd64.whl.metadata (9.1 kB)
Collecting protobuf<7,>=3.20 (from streamlit)
  Downloading protobuf-6.30.2-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Collecting pyarrow>=7.0 (from streamlit)
  Downloading pyarrow-20.0.0-cp313-cp313-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.32.3)
Collecting tenacity<10,>=8.1.0 (from streamlit)
  Downloading tenacity-9.1.2-py3-none-any.whl.metadata (1.2 kB)
Collecting toml<2,>=0.10.1 (from streamlit)
  Downloading toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (4.13.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-win_amd64.whl.metadata (44 kB)
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit)
  Downloading GitPython-3.1.44-py3-none-any.whl.metadata (13 kB)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Collecting narwhals>=1.14.2 (from altair<6,>=4.0->streamlit)
  Downloading narwhals-1.38.0-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: colorama in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading gitdb-4.0.12-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading smmap-5.0.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.24.0)
Requirement already satisfied: six>=1.5 in c:\users\ankus\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.45.0-py3-none-any.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ----- ---------------------------------- 1.3/9.9 MB 8.7 MB/s eta 0:00:01
   ------------- -------------------------- 3.4/9.9 MB 9.4 MB/s eta 0:00:01
   ------------------- -------------------- 4.7/9.9 MB 8.8 MB/s eta 0:00:01
   -------------------------- ------------- 6.6/9.9 MB 8.8 MB/s eta 0:00:01
   ----------------------------- ---------- 7.3/9.9 MB 7.8 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.9 MB 7.3 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.9 MB 6.8 MB/s eta 0:00:01
   ---------------------------------------  9.7/9.9 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 5.9 MB/s eta 0:00:00
Downloading altair-5.5.0-py3-none-any.whl (731 kB)
   ---------------------------------------- 0.0/731.2 kB ? eta -:--:--
   -------------- ------------------------- 262.1/731.2 kB ? eta -:--:--
   ---------------------------------------- 731.2/731.2 kB 2.4 MB/s eta 0:00:00
Downloading blinker-1.9.0-py3-none-any.whl (8.5 kB)
Downloading cachetools-5.5.2-py3-none-any.whl (10 kB)
Downloading click-8.1.8-py3-none-any.whl (98 kB)
Downloading GitPython-3.1.44-py3-none-any.whl (207 kB)
Downloading packaging-24.2-py3-none-any.whl (65 kB)
Downloading pillow-11.2.1-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 2.7 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.7 MB 2.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.7 MB 511.4 kB/s eta 0:00:03
   ----------------------- ---------------- 1.6/2.7 MB 573.4 kB/s eta 0:00:02
   ------------------------------- -------- 2.1/2.7 MB 720.6 kB/s eta 0:00:01
   ---------------------------------------  2.6/2.7 MB 842.3 kB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 848.9 kB/s eta 0:00:00
Downloading protobuf-6.30.2-cp310-abi3-win_amd64.whl (431 kB)
Downloading pyarrow-20.0.0-cp313-cp313-win_amd64.whl (25.7 MB)
   ---------------------------------------- 0.0/25.7 MB ? eta -:--:--
   ---------------------------------------- 0.3/25.7 MB ? eta -:--:--
   - -------------------------------------- 0.8/25.7 MB 2.3 MB/s eta 0:00:12
   -- ------------------------------------- 1.3/25.7 MB 2.3 MB/s eta 0:00:11
   -- ------------------------------------- 1.8/25.7 MB 2.3 MB/s eta 0:00:11
   --- ------------------------------------ 2.4/25.7 MB 2.4 MB/s eta 0:00:10
   ---- ----------------------------------- 2.9/25.7 MB 2.4 MB/s eta 0:00:10
   ----- ---------------------------------- 3.4/25.7 MB 2.5 MB/s eta 0:00:09
   ------ --------------------------------- 4.2/25.7 MB 2.5 MB/s eta 0:00:09
   ------- -------------------------------- 4.7/25.7 MB 2.6 MB/s eta 0:00:09
   -------- ------------------------------- 5.2/25.7 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 6.0/25.7 MB 2.7 MB/s eta 0:00:08
   ---------- ----------------------------- 6.6/25.7 MB 2.7 MB/s eta 0:00:08
   ----------- ---------------------------- 7.3/25.7 MB 2.8 MB/s eta 0:00:07
   ------------ --------------------------- 8.1/25.7 MB 2.8 MB/s eta 0:00:07
   ------------- -------------------------- 8.9/25.7 MB 2.9 MB/s eta 0:00:06
   --------------- ------------------------ 9.7/25.7 MB 2.9 MB/s eta 0:00:06
   ---------------- ----------------------- 10.5/25.7 MB 3.0 MB/s eta 0:00:06
   ----------------- ---------------------- 11.3/25.7 MB 3.0 MB/s eta 0:00:05
   ------------------ --------------------- 12.1/25.7 MB 3.1 MB/s eta 0:00:05
   -------------------- ------------------- 12.8/25.7 MB 3.1 MB/s eta 0:00:05
   --------------------- ------------------ 13.6/25.7 MB 3.2 MB/s eta 0:00:04
   ---------------------- ----------------- 14.7/25.7 MB 3.2 MB/s eta 0:00:04
   ------------------------ --------------- 15.5/25.7 MB 3.3 MB/s eta 0:00:04
   ------------------------- -------------- 16.5/25.7 MB 3.3 MB/s eta 0:00:03
   -------------------------- ------------- 17.3/25.7 MB 3.4 MB/s eta 0:00:03
   ---------------------------- ----------- 18.4/25.7 MB 3.4 MB/s eta 0:00:03
   ------------------------------ --------- 19.4/25.7 MB 3.5 MB/s eta 0:00:02
   ------------------------------- -------- 20.4/25.7 MB 3.5 MB/s eta 0:00:02
   --------------------------------- ------ 21.2/25.7 MB 3.6 MB/s eta 0:00:02
   ---------------------------------- ----- 22.3/25.7 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 23.6/25.7 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 24.6/25.7 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  25.4/25.7 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 25.7/25.7 MB 3.7 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ---------------------------------------- 0.0/6.9 MB ? eta -:--:--
   ------ --------------------------------- 1.0/6.9 MB 5.7 MB/s eta 0:00:02
   ------------- -------------------------- 2.4/6.9 MB 5.7 MB/s eta 0:00:01
   ------------------- -------------------- 3.4/6.9 MB 5.7 MB/s eta 0:00:01
   ------------------------ --------------- 4.2/6.9 MB 5.1 MB/s eta 0:00:01
   ---------------------------- ----------- 5.0/6.9 MB 4.9 MB/s eta 0:00:01
   ---------------------------------- ----- 6.0/6.9 MB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 6.9/6.9 MB 4.8 MB/s eta 0:00:00
Downloading tenacity-9.1.2-py3-none-any.whl (28 kB)
Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Downloading watchdog-6.0.0-py3-none-win_amd64.whl (79 kB)
Downloading gitdb-4.0.12-py3-none-any.whl (62 kB)
Downloading narwhals-1.38.0-py3-none-any.whl (338 kB)
Downloading smmap-5.0.2-py3-none-any.whl (24 kB)
Installing collected packages: watchdog, toml, tenacity, smmap, pyarrow, protobuf, pillow, packaging, narwhals, click, cachetools, blinker, pydeck, gitdb, gitpython, altair, streamlit
  Attempting uninstall: packaging
    Found existing installation: packaging 25.0
    Uninstalling packaging-25.0:
      Successfully uninstalled packaging-25.0
Successfully installed altair-5.5.0 blinker-1.9.0 cachetools-5.5.2 click-8.1.8 gitdb-4.0.12 gitpython-3.1.44 narwhals-1.38.0 packaging-24.2 pillow-11.2.1 protobuf-6.30.2 pyarrow-20.0.0 pydeck-0.9.1 smmap-5.0.2 streamlit-1.45.0 tenacity-9.1.2 toml-0.10.2 watchdog-6.0.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip